<a href="https://colab.research.google.com/github/AnMichalina/data-science-bootcamp/blob/main/1_wprowadzenie%5C1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

pd.Series

In [4]:
s = pd.Series(data=[3,2,4,5])
s

0    3
1    2
2    4
3    5
dtype: int64

In [5]:
s = pd.Series(data=[3,2,4,5], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    5
Name: sample, dtype: int64

In [6]:
s = pd.Series(data=[3,2.,4,5], index=['a','b','c','d'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    5.0
Name: sample, dtype: float64

In [7]:
import numpy as np

In [8]:
np.nan # brak danych

nan

In [9]:
s = pd.Series(data=[3.,np.nan,4,5], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    5.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[True, False, True, False])
s

0     True
1    False
2     True
3    False
dtype: bool

In [11]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [12]:
s.dtypes

dtype('int64')

In [13]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [14]:
s = pd.Series(data=['Python', 'Java', 'SQL'], name='languages')
s

0    Python
1      Java
2       SQL
Name: languages, dtype: object

In [15]:
s.dtype

dtype('O')

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
s.values

array(['Python', 'Java', 'SQL'], dtype=object)

In [19]:
s.dtypes

dtype('O')

In [20]:
s.shape

(3,)

In [40]:
price = pd.Series(data={'Apple':200, 'CD Projekt':60, 'Amazon':1900, 'KGHM':np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [29]:
price[2]

1900

In [30]:
price['Apple']

200

In [41]:
price.count() #3 elementy w series, bez nan

3

In [43]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [33]:
price.sum()

2160

In [34]:
price.min()

60

In [35]:
price.max()

1900

In [37]:
price.std()

1024.3046421841502

In [44]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [39]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [46]:
price.nlargest(n=1)

Amazon    1900.0
dtype: float64

In [47]:
price.nsmallest(n=2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [48]:
price.rank() #ranking posortowanych element√≥w

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [49]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [50]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [51]:
price.apply(lambda x: x*3.8) #bez zmian w serii matce, nie przypisana zmiana do obiektu

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [52]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [53]:
price_pln = price.apply(lambda x: x*3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

pd.DataFrame

In [55]:
df = pd.DataFrame(data=[12,12, 32])
df

    0
0  12
1  12
2  32

In [56]:
df = pd.DataFrame(data=[12,12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [57]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN', 'PKO BP'],
                        'mWIG40':['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [58]:
df = pd.DataFrame(data=[[10,12, 13], [23,12,10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [59]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [60]:
df.index

Index(['first', 'second'], dtype='object')

In [61]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [63]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [64]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

Selekcja kolumn

In [65]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [66]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [67]:
type(df['col_1'])

pandas.core.series.Series

In [69]:
df[['col_1']]

        col_1
first      10
second     23

In [70]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [71]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [72]:
df.columns = ['a', 'b', 'c']

In [73]:
df

         a   b   c
first   10  12  13
second  23  12  10

In [75]:
df.b

first     12
second    12
Name: b, dtype: int64

In [76]:
df['d'] = df.a + df.c

In [77]:
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [78]:
df = pd.DataFrame(data=[[10,12, 13], [23,12,10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [79]:
df.loc['first'] #po nazwie indeksu wycina

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [81]:
df.loc['first', 'col_2']

12

In [82]:
df.loc[:,'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [80]:
df.iloc[0] #po numerze indexu

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [83]:
df.iloc[0,1]

12